In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("raw/credits.csv")

In [3]:
without_crew = df.drop(columns=["crew"])

In [4]:
import ast

cast = without_crew["cast"].apply(ast.literal_eval)

In [5]:
without_crew.head()

                                                cast     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  11862

In [7]:
credits = pd.DataFrame(columns=["movie_id", "character", "gender", "id", "name", "order"])

for k in range(100):
    info = pd.DataFrame(cast[k])
    if info.empty: continue
    
    info = info[["character", "gender", "id", "name", "order"]]
    
    info["movie_id"] = without_crew.loc[k, "id"]
    
    credits = pd.concat([credits, info])

In [9]:
credits.to_csv("data/credits.csv")

In [8]:
without_crew.to_csv("raw/credits_without_crew.csv")